@font-face {
	font-family: 'I Still Know';
	src: url('../fonts/istillknow.ttf');
}

@font-face {
	font-family: 'Fjalla One';
	src: url('../fonts/FjallaOne-Regular.ttf');
}

@font-face {
	font-family: 'Amiri';
	src: url('../fonts/Amiri-Bold.ttf');
}



$blood-red: rgb(194, 16, 18);

$background-black: #080b0e;

$cloud: #ecf0f1;

$mainheading: 'I Still Know', 'Arial', serif;

$tag: 'Fjalla One', 'Arial', serif;

$subscribe: 'Amiri', 'Arial', serif;